<%include header%>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <img src="images/pic1.jpg" alt="suresh" class="rounded-circle">
        </div>
        <div class="col-md-8 col-sm-4 col-xs-4 col-lg-4">
            <header>
                <h2>Suresh Chandra Peddinti</h2>
            </header>

            <article>

                <h2>Introduction</h2>
                <section id="past-section">

                    <h4>CURRENT:</h4>
                    <p>I am here to do my Master's in Applied Computer Science for this Fall 2018.</p>
                </section>
                <section class="section-header">
                    <h4>PAST:</h4>
                    <p>I am from Hyderabad(India). I have completed my under graduation in
                        Electronics and Communication Engineering(ECE) from Jawaharlal Nehru Technological
                        University in India. During Final Year of my Undergrad, I have organised an event named "GRE Quest"
                        and purpose of it is to give an overview of GRE Exam conducted by ETS to the
                        Third Year undergrad Students.I have a work experience of 1.5 Years at
                        Tata Consultancy Service(TCS) as Assistant System Engineer.During my work in TCS,
                        I worked on development of web application and my role is back end developer.</p>
                </section>

                <section class="section-header">
                    <h4>HOBBIES:</h4>
                    <p><em><mark>Writing Stories</mark></em></p>
                    <p><Strong>Playing Cricket</Strong></p>


                </section>
            </article>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qD-6d8Wo3do" frameborder="0" allow="autoplay; encrypted-media"
             allowfullscreen></iframe>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3"></div>

    </div>
</div>


<%include footer%>